<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
    <div class="page-wrapper">

        <header class="main-header">
            <div class="uk-container">
                <div class="main-header__top">
                    <a class="main-header__logo" href="/" title="Интернет-магазин шин и дисков">
                        <img src="../img/logo.png" alt="Интернет-магазин шин и дисков">
                    </a>
                    <nav class="nav-main js-nav-main">
                        <ul class="nav-main__list">
                            <li class="nav-main__item">
                                <a class="nav-main__link" href="/">О компании</a>
                            </li>
                            <li class="nav-main__item">
                                <a class="nav-main__link" href="/">Доставка</a>
                            </li>
                            <li class="nav-main__item">
                                <a class="nav-main__link" href="/">Гарантия</a>
                            </li>
                            <li class="nav-main__item">
                                <a class="nav-main__link" href="/">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="contacts-block contacts-block_header js-contacts-header">
                        <a class="contacts-block__tel" href="tel: +79264775335">+7 926 477 53 35</a>
                        <div class="contacts-block__social">
                            <a class="contacts-block__social-link" href="#">Viber</a>,
                            <a class="contacts-block__social-link" href="#">Whatsapp</a>
                        </div>
                    </div>
                    <button class="main-header__btn-menu js-menu-open" type="submit" aria-label="Открыть меню">
                        <svg class="main-header__btn-menu-icon" viewBox="0 0 459 459">
                            <path d="M0 382.5h459v-51H0v51zM0 255h459v-51H0v51zM0 76.5v51h459v-51H0z" />
                        </svg>
                    </button>
                    <div class="main-header__store">
                        <div class="main-header__store-links">
                            <a class="main-header__control" href="/">
                                <svg class="main-header__control-icon">
                                    <use xlink:href="../img/sprite.svg#cart" />
                                </svg>
                                Корзина
                            </a>
                            <a class="main-header__control" href="/">
                                <svg class="main-header__control-icon">
                                    <use xlink:href="../img/sprite.svg#user" />
                                </svg>
                                Войти
                            </a>
                        </div>
                        <div class="main-header__store-info">
                            <a class="main-header__cart-link" href="/">4 товара</a> на сумму 42 500
                        </div>
                    </div>
                </div>
                <div class="main-header__bottom">
                    <nav class="nav-sections">
                        <ul class="nav-sections__list">
                            <li class="nav-sections__item">
                                <a class="nav-sections__link" href="/">
                  Шины
                </a>
                            </li>
                            <li class="nav-sections__item">
                                <a class="nav-sections__link" href="/">
                  Диски
                </a>
                            </li>
                            <li class="nav-sections__item">
                                <a class="nav-sections__link" href="/">
                  Колеса
                </a>
                            </li>
                            <li class="nav-sections__item">
                                <a class="nav-sections__link" href="/">
                  Запчасти
                </a>
                            </li>
                        </ul>
                    </nav>
                    <form class="searchbar searchbar_header js-searchbar">
                        <input class="searchbar__input" type="search" placeholder="Искать по названию" aria-label="Поле поиска" required>
                        <button class="searchbar__submit" type="submit" aria-label="Искать">
                            <svg class="searchbar__submit-icon">
                                <use xlink:href="../img/sprite.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="menu-adapt ">
                        <div class="menu-adapt__inner js-menu-adapt"></div>
                        <button class="menu-adapt__close-btn js-menu-close" type="button" aria-label="Закрыть меню">
                            <svg class="menu-adapt__close-icon" viewBox="0 0 357 357">
                                <path d="M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="uk-container">
            <ul class="breadcrumb uk-breadcrumb">
                <li><a href="/">Главная</a></li>
                <li><span>Корзина</span></li>
            </ul>
            <main class="cart">
                <h1 class="cart__page-title page-title">
          Корзина
        </h1>
                <div class="cart__products">
                    <div class="cart__fields">
                        <div class="cart__field cart__field-price">Цена</div>
                        <div class="cart__field cart__field-count">Количество</div>
                        <div class="cart__field cart__field-sum">Сумма</div>
                    </div>
                    <div class="cart__pool">
                        <div class="cart-item">
                            <div>
                                <a class="cart-item__img-container" href="#">
                                    <img class="cart-item__img" src="../img/cart.jpg" alt="">
                                </a>
                                <h2 class="cart-item__title">
                  <a class="cart-item__title-link" href="#">
                    Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                  </a>
                </h2>
                            </div>
                            <div>
                                <div class="cart-item__price">
                                    <span class="cart-item__price-desc">Цена:</span> 6 300 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__counter-container">
                                    <div class="counter counter_cart js-counter">
                                        <button class="counter__control js-counter-minus" type="button">-</button>
                                        <input class="counter__input js-counter-input" type="text" value="1" name="count">
                                        <button class="counter__control js-counter-plus" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="cart-item__sum">
                                    <span class="cart-item__price-desc">Сумма:</span> 38 500 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__remove-container">
                                    <button class="cart-item__remove-btn" type="button">
                                        <svg class="cart-item__remove-btn-icon">
                                            <use xlink:href="../img/sprite.svg#trash"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item">
                            <div>
                                <a class="cart-item__img-container" href="#">
                                    <img class="cart-item__img" src="../img/cart.jpg" alt="">
                                </a>
                                <h2 class="cart-item__title">
                  <a class="cart-item__title-link" href="#">
                    Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                  </a>
                </h2>
                            </div>
                            <div>
                                <div class="cart-item__price">
                                    <span class="cart-item__price-desc">Цена:</span> 6 300 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__counter-container">
                                    <div class="counter counter_cart js-counter">
                                        <button class="counter__control js-counter-minus" type="button">-</button>
                                        <input class="counter__input js-counter-input" type="text" value="1" name="count">
                                        <button class="counter__control js-counter-plus" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="cart-item__sum">
                                    <span class="cart-item__price-desc">Сумма:</span> 38 500 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__remove-container">
                                    <button class="cart-item__remove-btn" type="button">
                                        <svg class="cart-item__remove-btn-icon">
                                            <use xlink:href="../img/sprite.svg#trash"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item">
                            <div>
                                <a class="cart-item__img-container" href="#">
                                    <img class="cart-item__img" src="../img/cart.jpg" alt="">
                                </a>
                                <h2 class="cart-item__title">
                  <a class="cart-item__title-link" href="#">
                    Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                  </a>
                </h2>
                            </div>
                            <div>
                                <div class="cart-item__price">
                                    <span class="cart-item__price-desc">Цена:</span> 6 300 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__counter-container">
                                    <div class="counter counter_cart js-counter">
                                        <button class="counter__control js-counter-minus" type="button">-</button>
                                        <input class="counter__input js-counter-input" type="text" value="1" name="count">
                                        <button class="counter__control js-counter-plus" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="cart-item__sum">
                                    <span class="cart-item__price-desc">Сумма:</span> 38 500 <span class="rubl">c</span>
                                </div>
                                <div class="cart-item__remove-container">
                                    <button class="cart-item__remove-btn" type="button">
                                        <svg class="cart-item__remove-btn-icon">
                                            <use xlink:href="../img/sprite.svg#trash"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="cart__delivery">
                    <h2 class="cart__section-title section-title">
            Доставка
          </h2>
                    <div class="cart__variants">
                        <label class="cart-variant">
                            <input class="cart-variant__input" type="radio" name="delivery" checked>
                            <div class="cart-variant__label">
                                <div class="cart-variant__desc">
                                    <div class="cart-variant__title">
                                        курьер
                                    </div>
                                    <div class="cart-variant__text">
                                        Товар доставляется до двери или до транспортной компании.
                                    </div>
                                    <div class="cart-variant__price">
                                        Бесплатно
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label class="cart-variant">
                            <input class="cart-variant__input" type="radio" name="delivery">
                            <div class="cart-variant__label">
                                <div class="cart-variant__desc">
                                    <div class="cart-variant__title">
                                        транспортная компания
                                    </div>
                                    <div class="cart-variant__text">
                                        Товар доставляется до двери или до транспортной компании.
                                    </div>
                                    <div class="cart-variant__price">
                                        от 500 <span class="rubl">c </span>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label class="cart-variant">
                            <input class="cart-variant__input" type="radio" name="delivery">
                            <div class="cart-variant__label">
                                <div class="cart-variant__desc">
                                    <div class="cart-variant__title">
                                        самовывоз
                                    </div>
                                    <div class="cart-variant__text">
                                        Товар доставляется до двери или до транспортной компании.
                                    </div>
                                    <div class="cart-variant__price">
                                        Бесплатно
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </section>
                <section class="cart__payment">
                    <h2 class="cart__section-title section-title">
            Оплата
          </h2>
                    <div class="cart__variants">
                        <label class="cart-variant">
                            <input class="cart-variant__input" type="radio" name="payment" checked>
                            <div class="cart-variant__label">
                                <div class="cart-variant__desc">
                                    <div class="cart-variant__title">
                                        наличными при получении
                                    </div>
                                    <div class="cart-variant__text">
                                        Товар доставляется до двери или до транспортной компании.
                                    </div>
                                </div>
                            </div>
                        </label>
                        <label class="cart-variant">
                            <input class="cart-variant__input" type="radio" name="payment">
                            <div class="cart-variant__label">
                                <div class="cart-variant__title">
                                    банковской картой
                                </div>
                                <div class="cart-variant__text">
                                    Товар доставляется до двери или до транспортной компании.
                                </div>
                        </label>
                        </div>
                </section>
                <form action="#">
                    <section class="cart__contacts">
                        <h2 class="cart__section-title section-title">Контактные данные</h2>
                        <div class="cart__contacts-container">
                            <div class="cart__contacts-grid">
                                <div>
                                    <label class="field">
                                        <div class="field__label">
                                            Имя
                                        </div>
                                        <input class="field__input" type="text" required>
                                    </label>
                                </div>
                                <div>
                                    <label class="field">
                                        <div class="field__label">
                                            Адрес доставки
                                        </div>
                                        <input class="field__input" type="text" placeholder="Например, Воронеж, ул. Театральная, д. 27, кв. 14" required>
                                    </label>
                                </div>
                                <div>
                                    <label class="field">
                                        <div class="field__label">
                                            Телефон
                                        </div>
                                        <input class="field__input" type="tel" required>
                                    </label>
                                </div>
                                <div class="cart__contacts-msg-cell">
                                    <label class="field">
                                        <div class="field__label">
                                            Комментарий
                                        </div>
                                        <textarea class="field__textarea" required></textarea>
                                    </label>
                                </div>
                                <div>
                                    <label class="field">
                                        <div class="field__label">
                                            Email
                                        </div>
                                        <input class="field__input" type="email" required>
                                    </label>
                                </div>
                            </div>
                            <div class="cart__privacy">
                                <div class="custom-checkbox">
                                    <input type="checkbox" name="privacy-accept">
                                </div>
                                <span>
                              Отправляя форму, я даю согласие на <a href="https://autodrive.shop/terms/">обработку персональных данных</a>.
                            </span>
                            </div>
                            <div class="cart__total">
                                <div class="cart__total-info">
                                    Итого 4 товара на сумму <span class="cart__total-price">13 500 <span class="rubl">c</span></span>
                                </div>
                                <button class="btn btn_action" type="submit">
                                    оформить заказ
                                </button>
                            </div>
                        </div>
                    </section>
                </form>
                <section class="cart__login">
                    <div class="cart__login-title">
                        Если вы оформляли заказ на сайте ранее, просто введите логин и пароль:
                    </div>
                    <form action="#" class="cart__login-form">
                        <div class="form-group">
                            <label class="field">
                                <div class="field__label">
                                    Логин
                                </div>
                                <input class="field__input" type="text" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="field">
                                <div class="field__label">
                                    Пароль
                                </div>
                                <input class="field__input" type="password" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default">Войти</button>
                        </div>
                    </form>
                </section>
            </main>
            </div>
            <footer class=" main-footer">
                <div class="uk-container">
                    <div class="main-footer__top">
                        <nav class="nav-footer" aria-label="Навигация в футере">
                            <ul class="nav-footer__list">
                                <li class="nav-footer__item">
                                    <a class="nav-footer__link" href="/">О компании</a>
                                </li>
                                <li class="nav-footer__item">
                                    <a class="nav-footer__link" href="/">Доставка</a>
                                </li>
                                <li class="nav-footer__item">
                                    <a class="nav-footer__link" href="/">Гарантия</a>
                                </li>
                                <li class="nav-footer__item">
                                    <a class="nav-footer__link" href="/">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="main-footer__top-rightside">
                            <div class="main-footer__contacts-block contacts-block contacts-block_footer">
                                <a class="contacts-block__tel" href="tel: +79264775335">+7 926 477 53 35</a>
                                <div class="contacts-block contacts-block_footer">
                                    <a class="contacts-block__social-link" href="#">Viber</a>,
                                    <a class="contacts-block__social-link" href="#">Whatsapp</a>
                                </div>
                            </div>
                            <button class="btn btn_action">Обратная связь</button>
                        </div>
                    </div>
                    <div class="main-footer__bottom">
                        <ul class="main-footer__policy">
                            <li class="main-footer__policy-item">
                                <a class="main-footer__policy-link">Политика конфиденциальности</a>
                            </li>
                            <li class="main-footer__policy-item">
                                <a class="main-footer__policy-link">Пользовательское соглашение</a>
                            </li>
                        </ul>
                        <a class="main-footer__devs" href="/" title="Разработано в AVS Web">
                            <img class="main-footer__devs-logo" src="../img/devs.svg" alt="Разработано в AVS Web">
                        </a>
                    </div>
                </div>
            </footer>
        </div>
        <script src="../bundle.js"></script>
</body>

</html>