<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body class="page">
    <div class="page-wrapper error404">
		<div class="error">
			<div class="error__code"><span>404</span></div>
			<div class="error__message"><span>Если хотите продать машину, звоните: <br><a href="tel:+79601160111">+7 960 11 60 111</a></span></div>
			<a href="/" class="error__btn home-filter__submit btn btn-warning">На главную</a>
		</div>
    </div>
</body>
</html>
