<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page-wrapper">

    <header class="main-header">
      <div class="uk-container">
        <div class="main-header__top">
          <a class="main-header__logo" href="/" title="Интернет-магазин шин и дисков">
            <img src="../img/logo.svg" alt="Интернет-магазин шин и дисков">
          </a>
          <nav class="nav-main js-nav-main">
            <ul class="nav-main__list">
              <li class="nav-main__item">
                <a class="nav-main__link" href="/">О компании</a>
              </li>
              <li class="nav-main__item">
                <a class="nav-main__link" href="/">Доставка</a>
              </li>
              <li class="nav-main__item">
                <a class="nav-main__link" href="/">Гарантия</a>
              </li>
              <li class="nav-main__item">
                <a class="nav-main__link" href="/">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="contacts-block contacts-block_header js-contacts-header">
            <a class="contacts-block__tel" href="tel: +79264775335">+7 926 477 53 35</a>
            <div class="contacts-block__social">
              <a class="contacts-block__social-link" href="#">Viber</a>,
              <a class="contacts-block__social-link" href="#">Whatsapp</a>
            </div>
          </div>
          <button class="main-header__btn-menu js-menu-open" type="submit" aria-label="Открыть меню">
            <svg class="main-header__btn-menu-icon" viewBox="0 0 459 459">
              <path d="M0 382.5h459v-51H0v51zM0 255h459v-51H0v51zM0 76.5v51h459v-51H0z" />
            </svg>
          </button>
          <div class="main-header__store">
            <div class="main-header__store-links">
              <a class="main-header__control" href="/">
                <svg class="main-header__control-icon">
                  <use xlink:href="../img/sprite.svg#cart" />
                </svg>
                Корзина
              </a>
              <a class="main-header__control" href="/">
                <svg class="main-header__control-icon">
                  <use xlink:href="../img/sprite.svg#user" />
                </svg>
                Войти
              </a>
            </div>
            <div class="main-header__store-info">
              <a class="main-header__cart-link" href="/">4 товара</a> на сумму 42 500
            </div>
          </div>
        </div>
        <div class="main-header__bottom">
          <nav class="nav-sections">
            <ul class="nav-sections__list">
              <li class="nav-sections__item">
                <a class="nav-sections__link" href="/">
                  Шины
                </a>
              </li>
              <li class="nav-sections__item">
                <a class="nav-sections__link" href="/">
                  Диски
                </a>
              </li>
              <li class="nav-sections__item">
                <a class="nav-sections__link" href="/">
                  Колеса
                </a>
              </li>
              <li class="nav-sections__item">
                <a class="nav-sections__link" href="/">
                  Запчасти
                </a>
              </li>
            </ul>
          </nav>
          <form class="searchbar searchbar_header js-searchbar">
            <input class="searchbar__input" type="search" placeholder="Искать по названию" aria-label="Поле поиска"
              required>
            <button class="searchbar__submit" type="submit" aria-label="Искать">
              <svg class="searchbar__submit-icon">
                <use xlink:href="../img/sprite.svg#search"></use>
              </svg>
            </button>
          </form>
          <div class="menu-adapt">
            <div class="menu-adapt__inner js-menu-adapt"></div>
            <button class="menu-adapt__close-btn js-menu-close" type="button" aria-label="Закрыть меню">
              <svg class="menu-adapt__close-icon" viewBox="0 0 357 357">
                <path
                  d="M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="uk-container">
      <ul class="breadcrumb uk-breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><span>Шины</span></li>
      </ul>
      <main class="product">
        <h1 class="product__page-title page-title">
          Шины BRIDGESTONE POTENZA S001
        </h1>
        <div class="product__info">
          <div class="product__img-container">
            <img class="product__img" src="../img/product.jpg" alt="">
          </div>
          <ul class="product__characteristics">
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Артикул:</span>
              <span class="product__characteristic-value">K9744</span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">SKU:</span>
              <span class="product__characteristic-value">КА-00035057</span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Производитель:</span>
              <span class="product__characteristic-value">
                <a class="product__characteristic-link" href="/">Yokohama</a>
              </span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Название модели:</span>
              <span class="product__characteristic-value">A.Drive AA01</span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Размер:</span>
              <span class="product__characteristic-value">185/60 R14</span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Индекс нагрузки/скорости:</span>
              <span class="product__characteristic-value">182T</span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Сезонность:</span>
              <span class="product__characteristic-value">
                летняя
                <svg class="product__characteristic-icon">
                  <use xlink:href="../img/sprite.svg#sun"></use>
                </svg>
              </span>
            </li>
            <li class="product__characteristic-item">
              <span class="product__characteristic-name">Класс:</span>
              <span class="product__characteristic-value">эконом</span>
            </li>
          </ul>
          <div class="product-control">
            <div class="product-control__main">
              <div class="product-control__price">
                13 500 <span class="rubl">c</span>
              </div>
              <div class="product-control__counter counter counter_product js-counter">
                <button class="counter__control js-counter-minus" type="button">-</button>
                <input class="counter__input js-counter-input" type="text" value="1" name="count">
                <button class="counter__control js-counter-plus" type="button">+</button>
              </div>
              <div class="product-control__buttons">
                <button class="btn btn_purchase" type="submit">
                  В корзину
                </button>
                <button class="btn btn_quick-buy" type="button">
                  быстрый заказ
                </button>
              </div>
            </div>
            <div class="product-control__delivery">
              <div class="product-control__delivery-text">
                Бесплатная доставка по Воронежу и до ТК
                от 1го дня
              </div>
              <a class="spec-link" href="/">
                Все производители
                <svg class="spec-link__icon">
                  <use xlink:href="../img/sprite.svg#chevron-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="product__about">
          <div class="product__about-text">
            <p>В основу успеха положены новейшие технологии компании Yokohama, улучшенный состав смеси, новый
              рисунок
              протектора.
            <p>В результате получилась шина, превосходящая своих предшественников и ближайших конкурентов по
              уровню
              сцепления с сухой и мокрой дорогой, боковому скольжению, при этом, повысилась комфортность и
              безопасность вождения.
            <p>Сочетание спортивного характера Yokohama с комфортом и бесшумностью - это именно то, что вы ждете от добротной шины.
          </div>
          <a class="product__about-banner">
            <img src="../img/about-banner.jpg" alt="">
          </a>
        </div>
        <section class="similar-goods">
          <div class="similar-goods__title-row">
            <h2 class="section-title">
              С этим товаром покупают:
            </h2>
            <a class="spec-link" href="/">
              перейти в каталог шин
              <svg class="spec-link__icon">
                <use xlink:href="../img/sprite.svg#chevron-right"></use>
              </svg>
            </a>
          </div>
          <div class="goods-slider" tabindex="-1" data-uk-slider>
            <ul class="goods-slider__items uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid">
              <li>
                <div class="card">
                  <a class="card__img-wrapper" href="/" tabindex="-1" tabindex="-1"
                    title="Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный">
                    <img src="../img/disc.png" alt="Шина">
                  </a>
                  <h3 class="card__title">
                    <a class="card__title-link" href="/">
                      Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                    </a>
                  </h3>
                  <div class="card__price">
                    13 500 <span class="rubl">c</span>
                  </div>
                  <div class="card__counter counter counter_product js-counter">
                    <button class="counter__control js-counter-minus" type="button">-</button>
                    <input class="counter__input js-counter-input" type="text" value="1" name="count">
                    <button class="counter__control js-counter-plus" type="button">+</button>
                  </div>
                  <button class="btn btn_purchase" type="button">В корзину</button>
                </div>
              </li>
              <li>
                <div class="card">
                  <a class="card__img-wrapper" href="/" tabindex="-1">
                    <img src="../img/disc.png" alt="Шина">
                  </a>
                  <h3 class="card__title">
                    <a class="card__title-link" href="/">
                      Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                    </a>
                  </h3>
                  <div class="card__price">
                    13 500 <span class="rubl">c</span>
                  </div>
                  <div class="card__counter counter counter_product js-counter">
                    <button class="counter__control js-counter-minus" type="button">-</button>
                    <input class="counter__input js-counter-input" type="text" value="1" name="count">
                    <button class="counter__control js-counter-plus" type="button">+</button>
                  </div>
                  <button class="btn btn_purchase" type="button">В корзину</button>
                </div>
              </li>
              <li>
                <div class="card">
                  <a class="card__img-wrapper" href="/" tabindex="-1">
                    <img src="../img/disc.png" alt="Шина">
                  </a>
                  <h3 class="card__title">
                    <a class="card__title-link" href="/">
                      Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                    </a>
                  </h3>
                  <div class="card__price">
                    13 500 <span class="rubl">c</span>
                  </div>
                  <div class="card__counter counter counter_product js-counter">
                    <button class="counter__control js-counter-minus" type="button">-</button>
                    <input class="counter__input js-counter-input" type="text" value="1" name="count">
                    <button class="counter__control js-counter-plus" type="button">+</button>
                  </div>
                  <button class="btn btn_purchase" type="button">В корзину</button>
                </div>
              </li>
              <li>
                <div class="card">
                  <a class="card__img-wrapper" href="/" tabindex="-1">
                    <img src="../img/disc.png" alt="Шина">
                  </a>
                  <h3 class="card__title">
                    <a class="card__title-link" href="/">
                      Диск MW 16012 R16 6,5j 5/114,3 ET45 D60,1 черный
                    </a>
                  </h3>
                  <div class="card__price">
                    13 500 <span class="rubl">c</span>
                  </div>
                  <div class="card__counter counter counter_product js-counter">
                    <button class="counter__control js-counter-minus" type="button">-</button>
                    <input class="counter__input js-counter-input" type="text" value="1" name="count">
                    <button class="counter__control js-counter-plus" type="button">+</button>
                  </div>
                  <button class="btn btn_purchase" type="button">В корзину</button>
                </div>
              </li>
            </ul>
            <div class="goods-slider__slidenav-container">
              <a class="goods-slider__slidenav goods-slider__slidenav-back" href="#" data-uk-slider-item="previous">
                <svg class="goods-slider__slidenav-icon">
                  <use xlink:href="../img/sprite.svg#slidenav-left" />
                </svg></a>
              <a class="goods-slider__slidenav goods-slider__slidenav-forward" href="#" data-uk-slider-item="next">
                <svg class="goods-slider__slidenav-icon">
                  <use xlink:href="../img/sprite.svg#slidenav-right" />
                </svg>
              </a>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer class="main-footer">
      <div class="uk-container">
        <div class="main-footer__top">
          <nav class="nav-footer" aria-label="Навигация в футере">
            <ul class="nav-footer__list">
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="/">О компании</a>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="/">Доставка</a>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="/">Гарантия</a>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="/">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="main-footer__top-rightside">
            <div class="main-footer__contacts-block contacts-block contacts-block_footer">
              <a class="contacts-block__tel" href="tel: +79264775335">+7 926 477 53 35</a>
              <div class="contacts-block contacts-block_footer">
                <a class="contacts-block__social-link" href="#">Viber</a>,
                <a class="contacts-block__social-link" href="#">Whatsapp</a>
              </div>
            </div>
            <button class="btn btn_action">Обратная связь</button>
          </div>
        </div>
        <div class="main-footer__bottom">
          <ul class="main-footer__policy">
            <li class="main-footer__policy-item">
              <a class="main-footer__policy-link">
                Политика конфиденциальности
              </a>
            </li>
            <li class="main-footer__policy-item">
              <a class="main-footer__policy-link">
                Пользовательское соглашение
              </a>
            </li>
          </ul>
          <a class="main-footer__devs" href="/" title="Разработано в AVS Web">
            <img class="main-footer__devs-logo" src="../img/devs.svg" alt="Разработано в AVS Web">
          </a>
        </div>
      </div>
    </footer>
  </div>
  </div>
  <script src="../bundle.js"></script>
</body>

</html>