@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff") format("woff"),
		local("Gilroy Regular"), local("Gilroy-Regular");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff") format("woff"),
		local("Gilroy Medium"), local("Gilroy-Medium");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff") format("woff"), local("Gilroy Bold"),
		local("Gilroy-Bold");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald-SemiBold.woff") format("woff"),
		local("Oswald Semibold"), local("Oswald-Semibold");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "ALSRubl";
	src: url("../fonts/ALSRubl.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');