.nav-main__list {
  @include reset-list;
  display: flex;
  margin: 0 -10px;
}

.nav-main__item {
  margin: 0 10px;
}

.nav-main__link {
  @include reset-link;
  position: relative;
  color: #2c231a;
  font-size: 16px;
  line-height: 1;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #76726e;
  }
  &:hover {
    color: #2c231a;
  }
}
