.select {
  max-width: 100%;
  // &_small {
  //   .select__input {
  //     width: 120px;
  //   }
  // }
  // &_medium {
  //   .select__input {
  //     width: 180px;
  //   }
  // }
  // &_large {
  //   .select__input {
  //     width: 265px;
  //   }
  // }
  // &_fluid {
  //   .select__input {
  //     width: 100%;
  //   }
  // }
}

.select__label {
  margin-bottom: 10px;
}

.select__input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 0 20px 0 10px;
  border: 1px solid #cacaca;
  background-color: transparent;
  color: #717171;
  font-size: 16px;
  background: url('../img/chevron-down.svg') no-repeat calc(100% - 9px) 50%;
  cursor: pointer;
  &:hover {
    border-color: #328dd5;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
  }
}
